
.button {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #2fff00;
    -fx-text-fill: #000000;
}

.label {
    -fx-background-color: #3c00ff;
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #ff00ff;
    -fx-text-fill: #ffffff;
}